<div class="container-md shadow-sm">
    <h2 class="text-center">Passagens compradas</h2>
    <div class="container-lg">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Passageiro</th>
                    <th scope="col">Partida</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Data</th>
                    <th scope="col">Distância</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let viagem of viagens">
                    <td>{{viagem.id}}</td>
                    <td>{{viagem.passageiro}}</td>
                    <td>{{viagem.partida}}</td>
                    <td>{{viagem.destino}}</td>
                    <td>{{viagem.data | date: 'dd/MM/yyyy'}}</td>
                    <td>{{viagem.distancia}} Km</td>
                    <td>{{viagem.valor | currency:'BRL'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>