<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">
  <div class="container">
    <lnks-nav-brand></lnks-nav-brand>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <lnks-nav-button url="home" labelbt="Home"></lnks-nav-button>
        <lnks-nav-button url="viagem" labelbt="Viagens"></lnks-nav-button>
        <lnks-nav-button url="comprar" labelbt="Comprar"></lnks-nav-button>  
      </ul>
    </div>
  </div>
</nav>
